.loading {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.anuncios {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: scroll;
  list-style: none;
}
.anuncio {
  width: 250px;
}

.portada {
  width: 250px;
}
.imageLink {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .cont {
    width: 250px;
  }
  .portada {
    width: 150px;
  }
}
@media (max-width: 950px) {
  .cont {
    display: none;
  }
}
