/* .form{
  width: 450px;
  margin: auto;
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.divGroup{
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: column;
  padding: .5rem 1rem;
  margin-bottom: .5rem;
}
.label{
  opacity: .4;
  font-size: 1.5rem;
}
.input{
  position: relative;
  font-size: 1.3rem;
  padding: .5rem .5rem .5rem 2rem;
  margin: 1rem 0;
  background: transparent;
  color: #556273;
  outline: none;
  border: none;
  border-bottom: 2px solid;
  border-radius: .3rem .3rem 0 0;
}
.input:focus{
  background: rgba(255, 255, 255, .2);
}
.small{
  color: #8c6969;
  position: absolute;
  bottom: 0;
}
.acces{
  background: #556273;
  padding: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin: 1rem 0;
  padding: .5rem 1rem;
  border-radius: .2rem;
  border: none;
}
.acces:hover{
  opacity: .8;
}

.icon{
  position: absolute;
  bottom: 2rem;
  padding:0 .5rem;
}
.forget{
  opacity: .5;
  font-size: 1rem;  
  margin: 1rem 0 .5rem 0;
  cursor: pointer;
}
.forget:hover{
  opacity: 1;
  text-decoration: underline;
} */
