* {
  font-family: "Questrial", sans-serif;
  letter-spacing: 1.5px;
}
/* body {
  max-width: 950px;
} */
input[type="file"] {
  display: none;
}
a {
  color: #00b3ff;
  transition: 0.2s ease;
}
a:hover {
  color: #077aab;
  transition: 0.2s ease;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #282c31;
}
::-webkit-scrollbar-thumb {
  border: 2px solid #282c31;
  background: #077aab;
  border-radius: 0.3rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #077aabb0;
}
