/* .cont{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
}
.posterar{
  grid-column: 2/5;
  width: 70%;
}
.postList{
  position: absolute;
  top: 18rem;
  left: 20%;
  right: 20%;
  width: 40%;
  margin: 0 auto;
} */
