.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 1rem;
}
.side1 {
  opacity: 0.8;
  display: flex;
  flex-direction: column;
}
.side2 {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.link {
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.link:hover {
  background: rgba(0, 0, 0, 0.1);
}
